{%extends "layout.html"%}

{%block content%}

<div class="about">

	<h1>About page</h1>

	<p>This is a website developed by Tom Foord for MedCity</p>

	<p>The map shows where clinical trials are registered across the UK and which organisations
	are involved. Each circle is an organisation, size relative to the number of studies it is linked to.
	Click a circle to see the list of trials, with links to their respective ISRCTN registry entries.</p>

	<p>Use the Diseases/Interventions menu to filter by condition category or intervention type.</p>

	<h1>Data</h1>
	<p>All data is from the <a href="https://www.isrctn.com" target="_blank">ISRCTN registry</a>, last updated February 2022 
	and has not been updated since.</p>

	<h1>Update from author 2026: </h1>
	<p>I made this website while studying at medical school during the COVID-19 pandemic. It is 
	simple in concept, but taught me a lot about how to build website infrastructure and visualise data in a novel way. 
	These days it could probably be made in an afternoon using a generative AI tool, but I am proud of it all the same. </p>

	<p>The map was originally hosted <a href="https://www.medcityhq.com/2023/05/30/londons-strength-in-commercial-clinical-trials-revealed/
	" target="_blank">here</a> on the MedCity website, but has since become obsolete after the website was updated. 
	I am hosting it here for now, but the website remains property of MedCity.</p>
</div>

{%endblock%}